body {
    background-color:whitesmoke;
    margin: 0;
}
h4{
    color: beige;
    margin-top:0px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pt {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border-radius: 50%;
}

nav>a{
    border: 1px solid;
    color: gray;
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
}

nav {
    display: flex;
}

.no-border-radius{
    border-radius: 0px;
}

.no-border-radius-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

.no-border-radius-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

main>header{
    text-align: center;
}

.main-content{
    display: flex;
    gap: 10px  ;
}

.main-container-kiri{
    background-color: darkgrey;
    height: 450px;
    align-content: center;
    flex: 1;
    border-radius: 10px;
}

.main-container-kanan{
    background-color: darkgrey;
    height: 450px;
    align-content: center;
    flex: 1;
    border-radius: 5px;
    padding: 10px;
}

#paket-kami>header{
    height: 100px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: beige;
    padding: 30px;
}

.paket-kami-content{
    border-radius: 10px;
    align-content: center;
    text-align: center;
    border-top: 0;
    display: flex;
}

.paket-kami-side {
    display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 30px;
        align-content: flex-start;
}

p{
    font-family: arial;
    font-size: 12pt;
    text-align: left;
    margin-right: 10px;
    padding: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-wrap: auto;
}

h5 {
    font-size: 16pt;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
}
#hubungi-kami>header{
    height: 100px;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    background-color: beige;
    padding: 10px;
}

.hubungi-kami-content{
    border-radius: 10px;
    align-content: center;
    text-align: center;
    border-top: 0;
}

#kirim {
    width: 150px;
    height: 30px;
    background-color: grey;
    color: white;
    border-radius: 4px;
}

form {
    display: flex ;
    flex-direction: column;
    align-items: baseline;
}

input,select {
    height: 40px;
    border: 1px;
    border-style: ridge;
}

button {
    height: 50px;
    width: 120px;
    background-color: darkslategrey;
    color: antiquewhite;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-family: monospace;
    font-size: small;
    font-style: oblique;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-left: 70px;
    margin-top: 20px;
    width: 80%;
  }

  @media only screen and (max-width: 480px){
    .main-header {
        flex-direction: column;
    }
    
    .main-content {
        flex-direction: column;
    }
    .paket-kami-content {
        display: flex;
        flex-direction: column;
        }
    h4 {
        color : bisque;
    }
    nav {
        flex-direction: column;
    }
    }
  